@import "../../styles/main";

.sidebar {
  position: fixed;
  height: 100%;
  border: 3px;
  right: 0;
  bottom: 0;
  z-index: 6;
  background-color: $black;
  @include flex-col();

  &-container {
    position: relative;
  }
  &-list {
    overflow: scroll;
    height: 100vh;
  }
  &-item {
    display: block;
    height: 10rem;
    padding: 0.2rem;
    margin: 0.3rem;
    border-radius: 0.3rem;
    color: $black;
    cursor: pointer;
    background-color: $off-gray;
    -webkit-box-shadow: $sidebar-item-bs-unhover;
    -moz-box-shadow: $sidebar-item-bs-unhover;
    box-shadow: $sidebar-item-bs-unhover;
    transform: translateY(1px);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      transform: translateY(-1px);
      transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      -webkit-box-shadow: $sidebar-item-bs-hover;
      -moz-box-shadow: $sidebar-item-bs-hover;
      box-shadow: $sidebar-item-bs-hover;
    }

    &__info {
      @include flex-row();

      height: 100%;
      width: 100%;
      border-radius: 0.3rem;

      &-basic {
        display: block;
        height: 100%;
        width: 35%;
        padding: 1rem;

        &--meter {
          font-size: 0.85rem;
          font-weight: 500;
        }

        &--street {
          font-size: 0.75rem;
          color: rgb(138, 138, 138);
        }

        &--payment {
          font-size: 0.69rem;
        }
      }

      &-time-rates {
        display: block;
        height: 100%;
        width: 65%;
        padding: 0.5rem;
        border-left: 1px solid rgb(202, 202, 202);

        &--row {
          font-size: 0.7rem;
          @include flex-row();
        }
        &--col {
          color: black;
          padding-left: 0.5rem;
        }
      }
    }
  }
}
