.search {
  position: absolute;
  z-index: 1000;
  top: 75px;
  background-color: rgb(41, 41, 41);
  left: 50%;
  width: 40%;
  margin-left: calc((40% / 2) * -1);
  border-radius: 30px;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.25);
  transform: translateY(3px);
  transition: all 0.4s 0.2s;

  &:hover {
    transform: translateY(-3px);
    transition: all 0.4s 0.2s;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.35);
  }
  
  &-input {
    width: 100%;
    display: flex;
    padding: 10px 10px 10px 0px;
  }

  &-icon {
    padding: 10px;
    font-size: 2.5em;
    margin-right: 10px;
    color: rgb(190, 190, 190);
  }

}
.form-inline {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0px !important;
}

// .input-group {
//   width: 90% !important;
// }

// .form-control {
//   width: 80% !important;
// }

span.input-group-addon {
  width: 50px !important;
}

row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
