.map-container {
  position: fixed;
  height: 100%;
  border: 3px;
  box-sizing: border-box;
  left: 0;
  width: 85%;

  #map {
    position: static !important;
  }
}

.marker {
  background-color: aliceblue;
  width: 50px;
  position: absolute;
}

.info-window {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
